@use "common" as *;

/* 01 Default CSS */

html, body {
    scroll-behavior: smooth !important;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #c1c1c1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #222;
        outline: none;
    }

    &::-webkit-scrollbar-thumb:active {
        background: $theme-color-2;
    }
}

body {
    color: $body-color;
    font-size: $body-fz;
    font-family: $body-fonts;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    @include transition(0.3s);
}

a {
    text-decoration: none;
    @include transition(0.3s);

    &:active,
    &:hover {
        text-decoration: none;
    }
}

button,
.btn {
    @include transition(0.3s);

    &:active,
    &:hover,
    &:focus {
        outline: 0;
    }
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    color: $heading-color;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}

.btn:hover,
.btn:focus {
    outline: 0;
    box-shadow: none;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-fonts;
    color: $heading-color;
    font-weight: 700;
    margin-bottom: 20px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 48px;
    line-height: 1.3;
}

h2 {
    font-size: 36px;
    line-height: 1.3;
}

h3 {
    font-size: 28px;
    line-height: 1.3;
}

h4 {
    font-size: 24px;
    line-height: 1.2;
}

h5 {
    font-size: 20px;
    line-height: 1.2;
}

h6 {
    font-size: 16px;
    line-height: 1.2;
}

hr {
    margin: 20px 0;
    border-color: $hr-color;
}

ol {
    list-style: decimal;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

/* Form */

label {
    color: $gray-color;
    cursor: pointer;
    font-size: $body-fz;
    font-weight: 400;
}

*::-moz-selection {
    background: $theme-color;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: $theme-color;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: $theme-color;
    color: #fff;
    text-shadow: none;
}

/* Placeholder */

*::-moz-placeholder {
    color: $body-color;
    font-size: $body-fz;
    opacity: 1;
}

*::placeholder {
    color: $body-color;
    font-size: $body-fz;
    opacity: 1;
}

/* Button */

.btn-theme {
    color: #fff;
    border-color: $theme-color;
    background: $theme-color;

    &:hover {
        background: $theme-color;
        color: #fff;
        border-color: $theme-color;
    }
}

.btn-rounded {
    border-radius: 100% !important;
}

.btn-square {
    border-radius: 0 !important;
}

/* Bg Color */

.bg-gray {
    background: $gray-color;
}

.bg-white {
    background: #fff;
}

.bg-cream {
    background: #f8f7f0;
}

.bg-black {
    background: #000;
}

.bg-theme {
    background: $theme-color;
}

.bg-dark {
    background-color: $dark !important;
}

.bg-off-white {
    background-color: #f7f7f7;
}

.bg-off-white-2 {
    background-color: #f1f8ff;
}

.bg-blue {
    background-color: #4c87ff !important;
}

.bg-yellow {
    background-color: #fea116 !important;
}

.bg-pink {
    background-color: #fc4557 !important;
}

.bg-egg-blue {
    background-color: #1cb5a3 !important;
}

.bg-purple {
    background-color: #5851a7 !important;
}

/* Text Color */

.gray-color {
    background: $gray-color;
}

.white-color {
    color: #fff;
}

.black-color {
    color: #000;
}

.theme-color {
    color: $theme-color;
}

/* Others Common Css Here :) */

.table-row {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.fix {
    overflow: hidden;
}

.separator {
    border-top: 1px solid #f2f2f2;
}

.overflow-x-clip {
    overflow-x: clip;
}

.overflow-y-clip {
    overflow-y: clip;
}

@keyframes animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8),  0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
    font-family: inherit;
    line-height: inherit;
}


.common-subtitle {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;

    @include mq(md) {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 14px;
    }
    @include mq(xs) {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 14px;
    }

    &.style-color-white {
        color: $white;
    }

    &.style-color-2 {
        color: $theme-color-2;
    }

    &.style-color-3 {
        color: $theme-color-3;
    }

    &.m-b-0 {
        margin-bottom: 0;
    }
}

.common-title {
    text-align: center;
    margin-bottom: 30px;

    @include mq(md) {
        margin-bottom: 20px;
    }
    @include mq(xs) {
        margin-bottom: 20px;
    }

    h2 {
        font-weight: 600;
        font-size: 52px;
        line-height: 60px;
        color: $theme-color-3;
        margin-bottom: 0 !important;

        @include mq(xl) {
            font-size: 44px;
            line-height: 1.2;
        }
        @include mq(lg) {
            font-size: 42px;
            line-height: 1.2;
        }
        @include mq(md) {
            font-size: 30px;
            line-height: 1.2;
        }
        @include mq(xs) {
            font-size: 24px;
            line-height: 1.2;
        }
    }

    &.style-color-white {
        h2 {
            color: $white;
        }
    }

    &.style-color-light {
        h2 {
            color: $light;
        }
    }

    &.style-color-2 {
        h2{
            color: $theme-color-2;
        }
    }

    &.style-color-3 {
        h2{
            color: $theme-color-3;
        }
    }

    &.m-b-0 {
        margin-bottom: 0;
    }
}