@use "../common" as *;

/* 06 Footer Css */

.footer-section {
    background-color: $theme-color-3;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.footer-bottom-layout {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 24px 3px 3px;
    background-color: argb(#fff, 0.13);
    border: 1px solid argb(#fff, 0.10);
    border-radius: 100px;
    overflow: hidden;
    gap: 20px;

    @include mq(md){
        gap: 10px;
    }

    @include mq(xs){
        flex-direction: column;
        gap: 10px;
        position: relative;
        overflow: visible;
        padding: 15px 30px;
    }

    .top-btn {
        border-radius: 100px;
        gap: 5px;
        padding: 14px;

        @include mq(md){
            padding: 8px 14px;
        }
        @include mq(xs){
            position: absolute;
            padding: 8px 14px;
            bottom: -60px;
        }
    }

    .footer-copyright {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #F8F7F0;
    }

    .footer-bottom-menu {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            li {
                display: inline-flex;
                align-items: center;

                &:first-child {
                    &:before {
                        margin-left: 0;
                    }
                }

                &:before {
                    content: "";
                    width: 1px;
                    height: 20px;
                    display: inline-flex;
                    margin: 0 20px;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);

                    @include mq(md){
                        margin: 0 10px;
                    }
                    @include mq(xs){
                        margin: 0 10px;
                    }
                }

                a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: #F8F7F0;

                    &:hover {
                        color: $theme-color-2;
                    }
                }
            }
        }
    }
}

.footer-widget {
    .w-title {
        font-family: $Outfit;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $white;
        margin-bottom: 32px;

        @include cmaq(1399px){
            font-size: 20px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            margin-bottom: 10px;

            a {
                display: flex;
                align-items: center;
                gap: 5px;
                font-weight: 400;
                font-size: 17px;
                line-height: 28px;
                color: rgba(255, 255, 255, 0.9);

                @include cmaq(1399px){
                    font-size: 16px;
                }

                &:after {
                    content: "\e09f";
                    font-family: $icon-font;
                    opacity: 0;
                    @include transition(0.3s);
                    margin-left: 5px;
                    line-height: 1;
                }

                &:hover {
                    color: $theme-color-2;

                    &:after {
                        margin-left: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.about-widget {
    .footer-logo {
        margin-bottom: 25px;

        img {
            max-width: 165px;
        }
    }

    .text {
        p {
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
            color: #fff;
            margin-bottom: 15px;

            @include cmaq(1399px){
                font-size: 16px;
            }
        }
    }

    .info {
        p {
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
            color: #fff;
            margin-bottom: 4px;

            @include cmaq(1399px){
                font-size: 16px;
            }

            span {
                color: $theme-color-2;
            }
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 28px;

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            color: rgba(255, 255, 255, 0.4);
            background: rgba(255, 255, 255, 0.1);
            border-radius: 50px;

            &:hover {
                color: $theme-color-3;
                background: $theme-color-2;
            }
        }
    }
}

.subscribe-form {
    .input-wrap {
        margin-bottom: 15px;

        input {
            width: 100%;
            height: 66px;
            background: rgba(0, 69, 64, 0.65);
            border: 2px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(2px);
            border-radius: 53px;
            padding: 10px 24px;
            font-family: $AlbertSans;
            font-weight: 600;
            font-size: 17px;
            line-height: 100%;
            color: $white;
            @include transition(0.3s);

            @include placeholder() {
                color: argb(#fff, 0.6);
            }

            &:focus {
                border-color: $theme-color-2;
                @include placeholder() {
                    color: transparent;
                }
            }
        }
    }

    .input-button {
        button {
            border: 0;
        }
    }

    .input-checkbox {
        margin-top: 20px;

        input {
            display: none;

            &:checked + label {
                .check-mark {
                    background: $theme-color-2;

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        label {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
            color: argb(#fff, 0.8);

            .check-mark {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 18px;
                height: 18px;
                border: 1.5px solid $theme-color-2;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                border-radius: 3px;

                &:after {
                    content: '\f00c';
                    font-family: $icon-font;
                    font-size: 12px;
                    font-weight: 700;
                    color: $theme-color-3;
                    opacity: 0;
                    @include transition(0.3s);
                }
            }
        }
    }
}

.subscribe-form-2 {
    .input-wrap {
        margin-bottom: 15px;
        input {
            width: 100%;
            height: 66px;
            background: rgba(0, 69, 64, 0.65);
            border: 2px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(2px);
            border-radius: 53px;
            padding: 10px 24px;
            font-family: $AlbertSans;
            font-weight: 600;
            font-size: 17px;
            line-height: 100%;
            color: $white;
            @include transition(0.3s);

            @include placeholder() {
                color: argb(#fff, 0.6);
            }

            &:focus {
                border-color: $theme-color-2;
                @include placeholder() {
                    color: transparent;
                }
            }
        }
    }

    .policy-wrap{
        display: flex;
        align-items: center;
        gap: 24px;

        .input-button {
            button {
                border: 0;
            }
        }

        .input-checkbox {
            margin-bottom: 0;
            input {
                display: none;

                &:checked + label {
                    .check-mark {
                        background: $theme-color-2;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }

            label {
                display: inline-flex;
                align-items: center;
                gap: 10px;
                font-weight: 400;
                font-size: 17px;
                line-height: 28px;
                color: argb(#fff, 0.8);

                .check-mark {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 18px;
                    height: 18px;
                    border: 1.5px solid $theme-color-2;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    border-radius: 3px;

                    &:after {
                        content: '\f00c';
                        font-family: $icon-font;
                        font-size: 12px;
                        font-weight: 700;
                        color: $theme-color-3;
                        opacity: 0;
                        @include transition(0.3s);
                    }
                }
            }
        }
    }
}

// footer-2

.footer-section-2{
    .footer-widget{
        .w-title{
            display: flex;
            align-items: center;
            gap: 8px;
            line-height: 0;
        }
    }

    .footer-bottom{
        border-radius: 12px;
        background-color: $theme-color-2;
        margin: 0 50px;
        padding: 18px 0;

        @include cmaq(1700px){
            margin: 0 20px;
        }

        .footer-bottom-layout {
            display: flex;
            justify-content: space-between;
            padding: 0;
            background-color: transparent;
            border: none;
            border-radius: 0;

            .footer-copyright {
                color: $theme-color-3;
            }

            .footer-bottom-menu {
                ul {
                    li {
                        a {
                            color: $theme-color-3;

                            &:hover {
                                color: $white;
                            }
                        }

                        &:before {
                            width: 0;
                            margin: 0;
                        }
                    }

                    li:last-child {
                        &:before {
                            content: "";
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            display: inline-flex;
                            margin: 0 20px;
                            background: $theme-color-3;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}

.get-in-touch{
    display: flex;
    flex-direction: column;
    gap: 18px;

    .footer-address, .email, .phone{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 0;

        @include cmaq(1399px){
            gap: 8px;
        }

        .icon{
            width: 50px;
            height: 50px;
            background: argb(#FFFFFF, 0.1);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include cmaq(1399px){
                width: 40px;
                height: 40px;
            }

            i{
                color: $theme-color-2;
                font-size: 20px;

                @include cmaq(1399px){
                    font-size: 16px;
                }
            }
        }
    }

    .text{
        h6{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: $white;
            margin-bottom: 4px;
        }

        p{
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 28px;
            color: argb(#FFFFFF, 0.8);
        }
    }
}

// footer-2

// footer-3

.footer-section-3{
    padding: 80px 70px 86px 80px;
    border-radius: 16px;

    @include cmaq(1399px){
        padding: 40px 20px;
    }
}

.footer-bottom-2{
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    padding: 40px 0;

    .footer-bottom-layout {
        display: flex;
        justify-content: space-between;
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;

        @include cmaq(991px){
            flex-direction: column;
        }

        .footer-copyright {
            color: $theme-color-3;
        }

        .footer-bottom-menu {
            ul {
                li {
                    a {
                        color: $theme-color-3;

                        @include mq(xs){
                            font-size: 14px;
                        }

                        &:hover {
                            color: $theme-color-2;
                        }
                    }

                    &:before {
                        width: 0;
                        margin: 0;
                    }

                    i{
                        color: $theme-color-3;
                        margin-left: 10px;
                    }
                }

                li {
                    &:before {
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                        display: inline-flex;
                        margin: 0 20px;
                        background: $theme-color-3;
                        opacity: 0.5;
                        @include mq(xs){
                            margin: 0 10px;
                        }
                    }
                }

                li:first-child {
                    &:before {
                        width: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

}

.footer-bottom-3{
    border-top: 1px solid argb(#FFFFFF, 0.2);
    padding: 40px 0;

    @include mq(xs){
        padding: 20px 0;
    }

    .footer-bottom-layout-2 {
        align-items: center;
        border-radius: 100px;
        overflow: hidden;
        gap: 20px;
        display: flex;
        background: transparent;
        padding: 0;
        border: none;
        justify-content: space-between;

        @include mq(md){
            gap: 10px;
        }

        @include mq(xs){
            flex-direction: column;
            gap: 10px;
            position: relative;
            overflow: visible;
            padding: 15px 30px;
        }

        .footer-copyright {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: $white;
        }

        .footer-bottom-menu {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;

                li {
                    display: inline-flex;
                    align-items: center;

                    &:first-child {
                        &:before {
                            margin-left: 0;
                            width: 0;
                        }
                    }

                    &:before {
                        content: "";
                        display: inline-flex;
                        margin: 0 20px;
                        background: argb(#FFFFFF, 0.5);
                        opacity: 0.5;
                        width: 2px;
                        height: 14px;

                        @include mq(md){
                            margin: 0 10px;
                        }
                        @include mq(xs){
                            margin: 0 10px;
                        }
                    }

                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        color: $white;

                        &:hover {
                            color: $body-color;
                        }
                    }
                }
            }
        }
    }
}

// footer-3

//footer-5

.footer-section-5{
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 69, 64, 0.9) 0%, rgba(0, 51, 47, 0.95) 86.79%, rgba(0, 47, 43, 0.9) 107.82%);
    }

    .shape-1{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @include cmaq(1700px){
            width: 80%;
        }
    }

    .shape-2{
        position: absolute;
        bottom: 23%;
        right: 8%;

        @include mq(xxl){
            right: 0;
        }
        @include mq(xl){
            right: 0;
        }
        @include mq(lg){
            right: 0;
            bottom: 10%;
        }
        @include mq(md){
            right: 0;
            bottom: 10%;
        }
        @include mq(xs){
            right: 0;
            bottom: 11%;
        }

        img{
            @include cmaq(1700px){
                width: 80%;
            }
        }
    }

    .footer-widget{
        .w-title{
            display: flex;
            align-items: center;
            gap: 8px;
            line-height: 0;
        }
    }

    .footer-top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        margin-bottom: 60px;
        border-bottom: 1px solid argb(#FFFFFF, 0.2);

        @include cmaq(1199px){
            flex-direction: column;
            gap: 20px;
        }

        @include mq(xs){
            padding-bottom: 40px;
            margin-bottom: 40px;
        }

        .left{
            max-width: 712px;
            width: 100%;
            .common-title{
                margin-bottom: 0;

                h2{
                    color:$light;
                    margin-bottom: 0;
                }
            }
        }

        .right{
            max-width: 460px;
            width: 100%;
        }
    }
}

//footer-5

.adjusted-width{
    width: 20%;
    @include mq(lg){
        width: 33.33333333%;
    }
    @include mq(md){
        width: 41.66666667%;
    }@include mq(xs){
        width: 100%;
    }
}