@use "../common" as *;

/* 08 Breadcrumb Css */

.breadcrumb-section {
    padding-left: 85px;
    padding-right: 85px;
    @include mq(xxl) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @include mq(xl) {
        padding-left: 0;
        padding-right: 0;
    }

    @include mq(lg) {
        padding-left: 0;
        padding-right: 0;
    }

    @include mq(md) {
        padding-left: 0;
        padding-right: 0;
    }

    @include mq(xs) {
        padding-left: 0;
        padding-right: 0;
    }
}

.breadcrumb-thumb {
    overflow: hidden;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
    margin-left: -15px;
    border-radius: 0 10px 10px 0;
    position: relative;

    @include mq(xxl) {
        margin-left: -10px;
    }

    @include mq(xl) {
        margin-left: -10px;
    }

    @include mq(lg) {
        margin-left: -8px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-play-btn {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $light;
        padding: 23px 21px;
        border-radius: 100%;
        border: 1px solid $light;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        background: rgba(255, 255, 255, 0.015);
        backdrop-filter: blur(28px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include transition(0.3s);
        animation: animate-pulse 3s linear infinite;

        &:hover {
            color: $theme-color-3;
            background: $theme-color-2;
            border-color: $theme-color-2;
        }
    }
}

.breadcrumb-content {
    background-color: $theme-color-3;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 180px;
    padding-right: 100px;
    position: relative;
    z-index: 1;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    margin-right: -15px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);

    @include mq(xxl) {
        margin-right: -10px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include mq(xl) {
        margin-right: -10px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include mq(lg) {
        margin-right: -8px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq(md) {
        margin-right: 0;
        padding: 60px 20px;
        clip-path: none;
        border-radius: 10px;
    }

    @include mq(xs) {
        margin-right: 0;
        padding: 60px 20px;
        clip-path: none;
        border-radius: 10px;
    }

    .shape-1 {
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
        z-index: -1;
    }

    &:before {
        content: "";
        height: 100%;
        width: 40px;
        background: $theme-color-2;
        position: absolute;
        right: 0;
        top: 0;
        transform: skewX(-5deg);

        @include mq(xxl) {
            width: 30px;
        }

        @include mq(xl) {
            width: 30px;
        }

        @include mq(lg) {
            width: 25px;
        }
        @include mq(md) {
            display: none;
        }
        @include mq(xs) {
            display: none;
        }
    }
}

.breadcrumb-nav {
    ul {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;

        @include mq(lg) {
            margin-bottom: 10px;
        }
        @include mq(md) {
            margin-bottom: 10px;
        }
        @include mq(xs) {
            margin-bottom: 10px;
        }

        li {
            display: inline-block;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #F8F7F0;

            @include mq(lg) {
                font-size: 16px;
                line-height: 1.2;
            }

            @include mq(md) {
                font-size: 16px;
                line-height: 1.2;
            }
            @include mq(xs) {
                font-size: 16px;
                line-height: 1.2;
            }

            &:after {
                content: "\f178";
                font-family: $icon-font;
                font-weight: 400;
                margin-right: 8px;
                margin-left: 10px;

                @include mq(lg) {
                    font-size: 14px;
                }
                @include mq(md) {
                    font-size: 14px;
                }
                @include mq(xs) {
                    font-size: 14px;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            a {
                color: #F8F7F0;

                &:hover {
                    color: $theme-color-2;
                }
            }
        }
    }
}

.breadcrumb-title {
    h2 {
        font-weight: 600;
        font-size: 62px;
        line-height: 60px;
        color: #FFFFFF;
        margin-bottom: 0;

        @include mq(lg) {
            font-size: 40px;
            line-height: 1.2;
        }
        @include mq(md) {
            font-size: 32px;
            line-height: 1.2;
        }
        @include mq(xs) {
            font-size: 32px;
            line-height: 1.2;
        }
    }
}

