@use "../common" as *;

/* 35 Camping Donation Css */

.choose-currency-2 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;

    @include cmaq(991px) {
        flex-wrap: wrap;
    }

    p {
        font-style: normal;
        font-weight: 500;
        color: $theme-color-3;
        margin-bottom: 0;
    }

    .amount {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 14px;
        background: rgba(248, 247, 240, 0.1);
        border-radius: 88px;
        font-style: normal;
        font-weight: 600;
        color: $theme-color-3;
        cursor: pointer;
        border: none;

        &.active,
        &:hover {
            background: $theme-color-3;
            color: $theme-color-2;
        }
    }

    .custom-amount {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 6px 14px;
        border: 2px solid argb(#004540, 0.1);
        border-radius: 88px;
        font-style: normal;
        font-weight: 600;
        color: $theme-color-3;
        cursor: pointer;
        background: transparent;

        i {
            color: $theme-color-3;
        }

        p {
            color: $theme-color-2;
        }

        &:hover {
            border: 2px solid $theme-color-3;
        }
    }
}

.thank-you-text {
    p {
        font-family: $DMSans;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: $body-color;
        margin-bottom: 0;
    }
}

.payment-method-form {
    padding-top: 40px;
    border-top: 1px solid argb(#004540, 0.1);

    .payment-title {
        margin-bottom: 20px;

        h3 {
            font-family: $Outfit;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            color: $theme-color-3;
            margin-bottom: 0;
        }
    }

    .select-payment-method {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        flex-wrap: wrap;

        .method {
            display: flex;
            align-items: center;
            gap: 4px;

            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                width: 20px;
                height: 20px;
                border: none;
                border-radius: 50%;
                background-color: $theme-color-3;
                position: relative;
                cursor: pointer;
                vertical-align: middle;
            }

            input[type="checkbox"]:checked::before {
                content: "";
                position: absolute;
                top: 3px;
                left: 7px;
                width: 6px;
                height: 10px;
                border: solid $theme-color-2;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }

            label {
                font-family: $DMSans;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 28px;
                color: $body-color;
            }
        }
    }

    form {
        h5 {
            margin-bottom: 24px;
            font-family: $Outfit;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: $theme-color-3;
        }

        .info-input {
            display: flex;
            gap: 20px;
        }

        input,
        textarea {
            background: $white;
            border: 2px solid $white;
            border-radius: 10px;
            padding: 14px 20px;
            resize: none;

            &:focus {
                background: $white;
                border: 2px solid argb(#004540, 0.8);

                &::placeholder {
                    color: $theme-color-3;
                }
            }

            &::placeholder {
                font-size: 17px;
                line-height: 28px;
                color: $body-color;

                @include cmaq(991px) {
                    font-size: 16px;
                }
            }
        }

        button {
            border: none;
        }

        .form-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            p {
                font-family: $AlbertSans;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: $body-color;
                margin-bottom: 0;
            }
        }

        .impact-text {
            p {
                font-family: $AlbertSans;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: $body-color;
                margin-bottom: 0;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}

.divider-2 {
    width: 100%;
    background: argb(#004540, 0.1);
    height: 1px;
}

// sidebar styles

.sponsor-info-wrap {
    display: flex;
    align-items: center;
    gap: 18px;

    .thumb {
        max-width: 100px;
        width: 100%;
        height: 100px;
        border-radius: 100%;
        border: 6px solid $white;

        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    .name {
        h3 {
            font-family: $Outfit;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: $theme-color-3;
            margin-bottom: 0;
        }
    }

    .designation {
        margin-bottom: 10px;

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $body-color;
            margin-bottom: 0;
        }
    }

    .view-profile-btn {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-family: $AlbertSans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: $body-color;
        background: $white;
        border-radius: 6px;
        padding: 4px 12px;
        border: 1px solid $theme-color-2;

        &:hover {
            background-color: $theme-color-2;
            color: $theme-color-3;
        }
    }
}

.sidebar-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .thumb {
        border-radius: 6px;

        img {
            border-radius: 6px;
        }
    }
}
