@use "../common" as *;

/* 27 Company Achievements Css */

.company-achievements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include mq(xs) {
        grid-template-columns: repeat(2, 1fr);
    }

    .achievement {
        text-align: center;

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 20px;
            font-size: 30px;
            background-color: #f8f7f0;
            width: 70px;
            height: 70px;
            padding: 10px;
            border: 2px solid $theme-color-2;
            border-radius: 100%;

            @include mq(lg) {
                font-size: 24px;
                width: 60px;
                height: 60px;
            }
            @include mq(md) {
                font-size: 20px;
                width: 50px;
                height: 50px;
            }
            @include mq(xs) {
                font-size: 20px;
                width: 50px;
                height: 50px;
            }
        }

        h2 {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 60px;
            line-height: 100%;
            color: $theme-color-3;

            @include mq(lg) {
                font-size: 42px;
                line-height: 1;
            }
            @include mq(md) {
                font-size: 30px;
                line-height: 1;
            }
            @include mq(xs) {
                font-size: 30px;
                line-height: 1;
            }
        }

        p {
            font-size: 18px;
            line-height: 26px;
            color: $theme-color-3;

            @include mq(lg) {
                line-height: 1;
            }
            @include mq(md) {
                font-size: 16px;
                line-height: 1;
            }
            @include mq(xs) {
                font-size: 16px;
                line-height: 1;
            }
        }
    }

    .achievement-2 {
        i {
            box-shadow: 0 15px 32.2px -9px rgba(0, 24, 25, 0.2);
        }
    }
}

.company-achievements-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    position: absolute;
    bottom: -210px;

    @include mq(lg) {
        bottom: -160px;
    }
    @include mq(md) {
        grid-template-columns: repeat(3, 1fr);
        bottom: -370px;
    }
    @include mq(xs) {
        grid-template-columns: repeat(2, 1fr);
        position: static;
    }

    .achievement {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 41.8px rgba(0, 69, 64, 0.06);
        backdrop-filter: blur(50.25px);
        border-radius: 8px;
        text-align: center;
        padding: 50px 0;

        @include mq(lg) {
            padding: 30px 0;
        }
        @include mq(md) {
            padding: 30px 0;
        }
        @include mq(xs) {
            padding: 30px 0;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 20px;
            font-size: 30px;
            background-color: #f8f7f0;
            width: 70px;
            height: 70px;
            padding: 10px;
            border: 2px solid $theme-color-2;
            border-radius: 100%;

            @include mq(lg) {
                font-size: 24px;
                width: 60px;
                height: 60px;
            }
            @include mq(md) {
                font-size: 20px;
                width: 50px;
                height: 50px;
            }
            @include mq(xs) {
                font-size: 20px;
                width: 50px;
                height: 50px;
            }
        }

        h2 {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 60px;
            line-height: 100%;
            color: $theme-color-3;

            @include mq(lg) {
                font-size: 42px;
                line-height: 1;
            }
            @include mq(md) {
                font-size: 30px;
                line-height: 1;
            }
            @include mq(xs) {
                font-size: 30px;
                line-height: 1;
            }
        }

        p {
            font-size: 18px;
            line-height: 26px;
            color: $theme-color-3;

            @include mq(lg) {
                line-height: 1;
            }
            @include mq(md) {
                font-size: 16px;
                line-height: 1;
            }
            @include mq(xs) {
                font-size: 16px;
                line-height: 1;
            }
        }
    }
}
