@use "../common" as *;

/* 34 Details Sidebar Css */

.details-layout-wrap {
    display: flex;
    gap: 60px;

    @include mq(lg) {
        flex-direction: column;
    }
    @include mq(md) {
        flex-direction: column;
    }
    @include mq(xs) {
        flex-direction: column;
    }

    .details-content {
        flex: 1;
        width: 100%;
        max-width: 922px;
        @include mq(xl) {
            max-width: 670px;
        }
        @include mq(lg) {
            max-width: 100%;
        }
        @include mq(md) {
            max-width: 100%;
        }
        @include mq(xs) {
            max-width: 100%;
        }
    }
}

.detail-sidebar {
    flex: none;
    max-width: 380px;
    width: 100%;

    @include mq(lg) {
        max-width: 100%;
    }
    @include mq(md) {
        max-width: 100%;
    }
    @include mq(xs) {
        max-width: 100%;
    }

    .detail-sidebar-inner {
        position: sticky;
        top: 20px;
    }

    .s-widget-wrap {
        background: #f8f7f0;
        border-radius: 10px;
        padding: 30px 40px;
        @include mq(xs) {
            padding: 20px;
        }

        .w-title {
            h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: #004540;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .bar-wrap {
                position: relative;
                z-index: 1;
                margin: 10px 0 30px;

                .bar-1 {
                    border-bottom: 2px solid rgba(0, 69, 64, 0.1);
                }

                .bar-2 {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    width: 23%;
                    height: 100%;
                    background: linear-gradient(
                                    90deg,
                                    rgba(0, 69, 64, 0) 0%,
                                    #004540 100%
                    );
                }
            }
        }

        .socials {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .social-links {
                display: flex;
                gap: 10px;
                transition: all 0.3s;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    background: $white;
                    color: $body-color;

                    &:hover {
                        background: $theme-color-2;
                        color: $theme-color-3;
                    }
                }
            }
        }

        .project-info-wrap {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .project-text {
                margin-bottom: 24px;

                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: $body-color;
                    margin-bottom: 0;
                }
            }

            .project-info {
                padding-bottom: 20px;
                border-bottom: 1px solid argb(#004540, 0.1);
                display: flex;
                align-items: center;
                gap: 20px;

                &:hover {
                    cursor: pointer;

                    .icon {
                        color: $theme-color-2;
                        background: $theme-color-3;
                    }
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    width: 60px;
                    height: 60px;
                    font-size: 26px;
                    color: $theme-color-3;
                    background: $white;
                }

                .key-value {
                    .key {
                        margin-bottom: 6px;

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: $body-color;
                            margin-bottom: 0;
                        }
                    }

                    .value {
                        h6 {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            color: #004540;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .project-info-last {
                padding: 0;
                border: none;
            }
        }

        .organizer-info-wrap {
            .thumb {
                max-width: 100px;
                width: 100%;
                height: 100px;
                margin: 0 auto 10px;
                border-radius: 100%;
                border: 6px solid $white;

                img {
                    width: 100%;
                    border-radius: 100%;
                }
            }

            .name {
                h3 {
                    text-align: center;
                    font-family: $Outfit;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color: $theme-color-3;
                    margin-bottom: 0;
                }
            }

            .text {
                margin-bottom: 24px;

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    text-align: center;
                    color: $theme-color-3;
                    margin-bottom: 0;
                }
            }

            .divider {
                width: 100%;
                margin-bottom: 24px;
                height: 2px;
                background: rgba(0, 69, 64, 0.1);
            }

            .date,
            .location {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    padding: 7px;
                    background: $white;
                    border: 1px solid rgba(0, 69, 64, 0.15);
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 28px;
                    color: $body-color;
                    margin-bottom: 0;
                }
            }
        }

        .recent-campaigns {
            .campaign {
                display: flex;
                align-items: center;
                gap: 16px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 2px solid rgba(0, 69, 64, 0.1);

                .thumb {
                    max-width: 97px;
                    height: 97px;
                    width: 100%;
                    border-radius: 100%;

                    img {
                        width: 100%;
                        border-radius: 100%;
                    }
                }

                .date {
                    margin-bottom: 4px;

                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: #6f7174;
                        margin-bottom: 0;
                    }
                }

                .name {
                    h5 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 26px;
                        color: #121213;
                        margin-bottom: 0;
                    }
                }
            }

            .campaign-last {
                padding: 0;
                margin: 0;
                border: none;
            }
        }
    }
}

.detail-list {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                width: 100%;
                display: inline-flex;
                align-items: center;
                gap: 5px;
                justify-content: space-between;
                font-family: $AlbertSans;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #868681;
                background: #ffffff;
                border-radius: 4px;
                padding: 10px 5px 10px 20px;
                @include transition(0.3s);

                &:hover {
                    color: $white;
                    background: $theme-color-3;

                    .icon {
                        color: $theme-color-3;
                        background: $theme-color-2;
                    }
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    color: $body-color;
                    width: 30px;
                    height: 30px;
                    background: #f8f7f0;
                    border-radius: 50%;
                    @include transition(0.3s);
                }
            }
        }
    }
}

.detail-contact {
    .thumb {
        img {
        }
    }

    .icon-info-wrap {
        margin-top: -20px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;

        .icon-wrap {
            position: relative;
            z-index: 1;
            height: 30px;
            margin-bottom: 10px;
            display: inline-block;

            .icon {
                margin-top: -30px;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.21);
                border: 1.5px solid #ffe175;
                backdrop-filter: blur(4.7px);
                display: inline-flex;
                align-items: center;
                justify-content: center;

                img {
                }
            }

            .bar-wrap {
                .bar-1 {
                    position: absolute;
                    left: 40px;
                    width: 130px;
                    height: 2px;
                    background: linear-gradient(90deg, rgba(255, 255, 117, 0) 0%, #ffe175 100%);
                    margin-left: -20px;
                    @include mq(xs) {
                        width: 60px;
                    }
                }

                .bar-2 {
                    position: absolute;
                    right: 40px;
                    width: 130px;
                    height: 2px;
                    background: linear-gradient(90deg, #ffe175 0%, rgba(255, 255, 117, 0) 100%);
                    margin-right: -20px;
                    @include mq(xs) {
                        width: 60px;
                    }
                }
            }
        }

        .info {
            text-align: center;

            h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 0;

                a {
                    color: #004540;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #868681;
            }
        }
    }
}
