@use "../common" as *;

/* 22 Dust Recycling Css */

.dust-recycling-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 380px 0 220px;

    @include mq(lg) {
        padding: 80px 0 80px;
    }

    @include mq(md) {
        padding: 80px 0 80px;
    }

    @include mq(xs) {
        padding: 80px 0 80px;
    }
}

.btn-layer {
    margin-top: -50px;
    margin-left: -110%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    @include mq(xl) {
        margin-left: -20%;
    }

    @include mq(lg) {
        margin: 0;
    }

    @include mq(md) {
        margin: 0;
    }

    @include mq(xs) {
        margin: 0;
    }

    .play-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        color: $light;
        padding: 25px 20px;
        border-radius: 100%;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(6px);
        animation: animate-pulse 3s linear infinite;

        &:hover {
            color: $theme-color-3;
            background: $theme-color-2;
            border-color: $theme-color-2;
        }

        @include mq(md) {
            width: 80px;
            height: 80px;
            font-size: 20px;
        }

        @include mq(xs) {
            width: 70px;
            height: 70px;
            font-size: 18px;
        }
    }
}

.btn-layer-2 {
    margin-top: -60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    @include mq(lg) {
        margin-top: 0;
    }

    @include mq(md) {
        margin-top: 0;
    }

    @include mq(xs) {
        margin-top: 0;
    }

    .play-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        color: $theme-color-3;
        padding: 25px 20px;
        border-radius: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        background: $theme-color-2;
        border: 2px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(6px);
        animation: animate-pulse 3s linear infinite;

        &:hover {
            color: $theme-color-3;
            background: $theme-color-2;
            border-color: $theme-color-2;
        }

        @include mq(md) {
            width: 60px;
            height: 60px;
            font-size: 16px;
        }

        @include mq(xs) {
            width: 60px;
            height: 60px;
            font-size: 16px;
        }
    }
}

.dust-recycle-card {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(46.2px);
    border-radius: 16px;
    padding: 50px;
    max-width: 716px;
    width: 100%;
    margin-bottom: -170px;

    @include mq(lg) {
        margin-bottom: 0;
    }

    @include mq(md) {
        margin-bottom: 0;
    }

    @include mq(xs) {
        padding: 30px;
        margin-bottom: 0;
    }

    .dust-recycle-top {
        padding-bottom: 30px;
        border-bottom: 1px solid $light;

        h5 {
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            color: $light;
            margin-bottom: 20px;

            @include mq(md) {
                font-size: 24px;
                line-height: 1.4;
            }
        }

        .services-4 {
            display: flex;
            align-items: center;
            gap: 28px;

            @include mq(xs) {
                gap: 14px;
                flex-direction: column;
                align-items: flex-start;
            }

            .service-2 {
                display: flex;
                align-items: center;
                gap: 10px;

                i {
                    color: $theme-color-2;
                    font-size: 18px;

                    @include cmaq(767px) {
                        font-size: 16px;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                    color: $light;

                    @include cmaq(767px) {
                        font-size: 16px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }

    .campaign-progress {
        padding: 30px 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6px;

            p {
                margin-bottom: 0;
                color: $light;
            }
        }

        .progress {
            height: 8px;
            background: argb($theme-color-2-rgb, 0.1);

            .progress-bar {
                background: $theme-color-2;
            }
        }
    }
}
