@use "../common" as *;

/* 13 Event Css */

.event-card {
  background: #f8f7f0;
  padding: 10px;
  border-radius: 10px;

  &.active,
  &:hover {
    .thumb {
      a {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .card-content {
    padding: 20px;
  }

  .event-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @include mq(xs) {
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }

    .top-left {
      display: flex;
      gap: 20px;
      align-items: start;

      @include mq(lg) {
        gap: 14px;
      }
      @include mq(xs) {
        align-items: center;
        gap: 14px;
      }

      .event-date {
        text-align: start;

        h3 {
          color: $theme-color-3;
          font-weight: 500;
          font-size: 40px;
          line-height: 14px;
          margin-bottom: 0;

          @include mq(lg) {
            font-size: 28px;
            line-height: 0.8;
          }
          @include mq(md) {
            font-size: 24px;
            line-height: 0.8;
          }
          @include mq(xs) {
            font-size: 24px;
            line-height: 0.8;

            br {
              display: none;
            }
          }

          span {
            color: $body-color;
            font-size: 18px;
            line-height: 22px;

            @include mq(lg) {
              font-size: 16px;
              line-height: 1;
            }
            @include mq(md) {
              font-size: 16px;
              line-height: 1;
            }
            @include mq(xs) {
              font-size: 16px;
              line-height: 1;
            }
          }
        }
      }
    }
  }

  .thumb {
    position: relative;
    overflow: hidden;
    z-index: 1;

    > a {
      display: block;
      border-radius: 10px;
      overflow: hidden;
    }

    img {
      width: 100%;
      border-radius: 10px;
    }

    .category {
      position: absolute;
      bottom: 20px;
      right: 20px;

      a {
        display: inline-block;
        padding: 8px 18px;
        background: argb(#fff, 0.01);
        border: 1.5px solid rgba(255, 255, 255, 0.3);
        box-shadow: inset 0px 4px 11px rgba(255, 255, 255, 0.4),
          inset -1px -4px 23.1px rgba(0, 24, 25, 0.28);
        backdrop-filter: blur(23.9px);
        border-radius: 53px;
        color: $white;

        &:hover {
          color: $theme-color-3;
          background: $white;
        }
      }
    }

    .shape-3 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }
}

.top-right {
  display: flex;
  align-items: center;
  gap: 15px;

  @include mq(lg) {
    gap: 10px;
  }
  @include mq(xs) {
    gap: 10px;
  }

  img {
    max-width: 118px;
    width: 100%;

    @include mq(lg) {
      max-width: 90px;
    }
    @include mq(md) {
      max-width: 90px;
    }
    @include mq(xs) {
      max-width: 80px;
    }
  }

  .people-joined {
    text-align: start;

    h5 {
      font-weight: 600;
      font-size: 20px;
      color: $theme-color-3;
      margin-bottom: 0;
      line-height: 30px;

      @include mq(lg) {
        font-size: 18px;
        line-height: 1.3;
      }
      @include mq(md) {
        font-size: 18px;
        line-height: 1.2;
      }
      @include mq(xs) {
        font-size: 18px;
        line-height: 1;
      }
    }
  }
}

.event-card-2 {
  display: flex;
  align-items: center;
  background: $white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 2;

  @include mq(md) {
    flex-direction: column;
  }

  @include mq(xs) {
    flex-direction: column;
  }

  .event-thumb {
    width: 48%;
    flex: none;
    position: relative;
    z-index: 1;

    @include mq(md) {
      width: 100%;
    }

    @include mq(xs) {
      width: 100%;
    }

    a {
      img {
        border-radius: 10px;
        width: 100%;
      }
    }

    .event-date {
      display: inline-flex;
      padding: 16px 24px;
      background: #f8f7f0;
      border: 1px solid $theme-color-2;
      box-shadow: 0 6px 15.9px -3px rgba(0, 69, 64, 0.11);
      border-radius: 0 100px 100px 0;
      position: absolute;
      left: 100%;
      top: 40px;
      width: auto;

      @include mq(xxl) {
        top: 30px;
      }

      @include mq(xl) {
        padding: 10px 20px;
        top: 20px;
      }

      @include mq(lg) {
        padding: 10px 20px;
        top: 15px;
      }

      @include mq(md) {
        left: 0;
        top: 30px;
        padding: 10px 20px;
      }

      @include mq(xs) {
        left: 0;
        top: 30px;
        padding: 10px 20px;
      }

      h5 {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: $theme-color-3;
        white-space: nowrap;

        @include mq(lg) {
          font-size: 14px;
        }

        @include mq(xs) {
          font-size: 14px;
        }
      }
    }
  }

  .card-content {
    width: 52%;
    padding: 60px 50px 0;

    @include mq(lg) {
      padding: 50px 30px 0;
    }

    @include mq(md) {
      width: 100%;
      padding: 30px 20px;
    }

    @include mq(xs) {
      width: 100%;
      padding: 30px 20px;
    }

    .event-card-title {
      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        color: $theme-color-3;
        margin-bottom: 10px;

        @include mq(lg) {
          font-size: 24px;
          line-height: 1.2;
        }
        @include mq(md) {
          font-size: 24px;
          line-height: 1;
        }
        @include mq(xs) {
          font-size: 20px;
          line-height: 1;
        }
      }
    }

    .join-event {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-top: 6px;

      @include mq(xs) {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}

.event-card-3 {
  display: flex;
  align-items: center;
  background: $white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  overflow-y: clip;

  &:hover{
    .event-thumb {
      a {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  @include mq(xs) {
    margin: 0 0 30px;
  }

  .event-thumb {
    a {
      border-radius: 10px;
      display: block;
      overflow: hidden;

      img {
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
      }
    }
  }

  .card-content {
    padding: 0 50px;

    @include mq(lg) {
      padding: 0 20px;
    }
    @include mq(md) {
      padding: 20px 10px;
    }
    @include mq(xs) {
      padding: 20px 10px;
    }

    .event-card-title {
      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        color: $theme-color-3;
        margin-bottom: 10px;

        @include mq(lg) {
          font-size: 28px;
          line-height: 1;
        }
        @include mq(md) {
          font-size: 24px;
          line-height: 1.2;
        }
        @include mq(xs) {
          font-size: 20px;
          line-height: 1.2;
        }
      }
    }

    .join-event {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-top: 6px;
    }

    .category {
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 28px;
        color: $body-color;
        margin-bottom: 12px;
      }
    }

    .event-card-text {
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $body-color;
        margin-bottom: 36px;

        @include mq(lg) {
          margin-bottom: 30px;
        }
        @include mq(md) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.card-number-3{
  position: absolute;
  right: 60px;
  bottom: -20px;
  justify-content: end;
  display: inline-flex
;

  @include mq(md){
    right: 20px;
  }
  @include mq(xs){
    right: 20px;
  }

  h1{
    font-family: $Outfit;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 82px;
    color: $theme-color-3;
    opacity: 0.06;
    margin-bottom: 0;

    @include mq(lg){
      font-size: 100px;
    }
    @include mq(md){
      font-size: 90px;
    }
    @include mq(xs){
      font-size: 80px;
    }
  }
}

.event-card-middle {
  h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: $theme-color-3;
    margin: 20px 0 8px;

    @include mq(lg) {
      font-size: 28px;
      line-height: 1;
    }
    @include mq(md) {
      font-size: 24px;
      line-height: 1;
    }
    @include mq(xs) {
      font-size: 20px;
      line-height: 1;
    }
  }
}

.address {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;

  @include mq(lg) {
    margin-bottom: 20px;
  }
  @include mq(md) {
    margin-bottom: 20px;
  }

  @include mq(xs) {
    flex-direction: column;
    align-items: start;
    gap: 6px;
    margin-bottom: 20px;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .time {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

//our-events-section-2 styles

.our-events-section-2 {
  position: relative;
  background: #f8f7f0;

  .shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: fit-content;
  }
}

.section-top-6 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;

  @include mq(md) {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  @include mq(xs) {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: 40px;
  }

  .left {
    .common-subtitle {
      span {
        color: $theme-color-3;
      }
    }

    .common-title {
      margin-bottom: 0;

      h2 {
        color: $theme-color-3;

        @include mq(lg) {
          font-size: 38px;
        }
      }
    }
  }

  .right {
    a {
      color: $white;
      background-color: $theme-color-3;
      border: none;

      &::before {
        background-color: $theme-color-2;
      }

      .icon-wrap {
        background: $theme-color-2;
        color: $theme-color-3;
      }

      &:hover {
        color: $theme-color-3;
        background-color: $theme-color-2;

        .icon-wrap {
          background: $theme-color-3;
          color: $white;
        }
      }
    }
  }
}

//our-events-section-2 styles

.our-events-section-3 {
  position: relative;
  overflow: hidden;

  .shape {
    position: absolute;
    right: 0;
    bottom: -56%;

    @include mq(xl) {
      bottom: -57%;
    }
    @include mq(lg) {
      bottom: -43%;
      text-align: end;
    }
    @include mq(md) {
      bottom: -23%;
      text-align: end;
    }
    @include mq(xs) {
      text-align: end;
      bottom: -20%;
    }

    img {
      @include mq(lg) {
        width: 70%;
      }
      @include mq(md) {
        width: 61%;
      }
      @include mq(xs) {
        width: 50%;
      }
    }
  }
}

.adjusted-col-gap{
  padding: 0;
}