@use "../common" as *;

/* 23 Faq Css */

.faq-section {
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    @include cmaq(1199px) {
        background-size: cover;
    }

    &.style-service {
        background-position: left;
        margin-bottom: -160px;
    }

    .faq {
        display: flex;
        align-items: center;
        gap: 50px;

        @include mq(lg) {
            flex-direction: column-reverse;
        }
    }

    .common-subtitle {
        margin-bottom: 20px;
    }

    .common-title {
        max-width: 430px;
        width: 100%;
        margin-bottom: 20px;

        @include mq(lg) {
            max-width: 100%;
        }

        span {
            color: $theme-color-2;
        }
    }

    .text {
        max-width: 550px;
        width: 100%;
        margin-bottom: 30px;

        @include cmaq(1199px) {
            max-width: 100%;
        }
    }

    .blog-btn {
        margin-bottom: 50px;

        @include mq(md) {
            margin-bottom: 30px;
        }

        @include mq(xs) {
            margin-bottom: 30px;
        }
    }
}

.faq-accordion {
    .accordion-item {
        border: 0;
        margin-bottom: 20px;
        background-color: #f8f7f0;
        padding-bottom: 10px;
        border-radius: 40px;

        .accordion-header {
            .accordion-button {
                border: 0;
                box-shadow: none;
                padding: 22px 20px 12px 35px;
                border-radius: 0;
                font-weight: 500;
                font-size: 24px;
                line-height: 1.2;
                color: $theme-color-3;
                background: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                position: relative;

                @include mq(md) {
                    font-size: 20px;
                    padding: 16px 16px 8px 28px;
                }

                @include mq(xs) {
                    font-size: 18px;
                    padding: 16px 16px 8px 28px;
                }

                .accordion-title {
                    color: $body-color;
                    margin-right: 5px;
                }

                .icon {
                    position: relative;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid $white;
                    border-radius: 50%;
                    margin-left: auto;
                    background-color: #f8f7f0;
                    @include transition(0.3s);

                    .icon-plus,
                    .icon-minus {
                        position: absolute;
                        background-color: $body-color;
                        @include transition(0.3s);
                    }

                    .icon-plus {
                        width: 12px;
                        height: 2px;
                    }

                    .icon-minus {
                        width: 2px;
                        height: 12px;
                    }
                }

                &.collapsed {
                    .icon {
                        .icon-plus {
                            opacity: 1;
                        }

                        .icon-minus {
                            opacity: 1;
                        }
                    }
                }

                &:not(.collapsed) {
                    .icon {
                        background-color: $theme-color-3;
                        transform: rotate(180deg);

                        .icon-plus {
                            opacity: 1;
                            background-color: $white;
                        }

                        .icon-minus {
                            opacity: 0;
                            background-color: $white;
                        }
                    }
                }

                &:after {
                    display: none;
                }
            }
        }

        .accordion-body {
            padding: 0 75px 12px 35px;
        }
    }
}
