@use "../common" as *;

/* 25 Latest Work Css */

.work-card {
    background: $theme-color-3;
    display: flex;
    align-items: center;
    gap: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: sticky;
    top: 30px;
    overflow-y: clip;

    @include mq(lg) {
        gap: 60px;
        padding-right: 20px;
    }
    @include mq(md) {
        gap: 30px;
        padding-right: 20px;
    }
    @include mq(xs) {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
}

.work-card-thumb {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 14px;
    margin-top: 30px;

    @include mq(lg) {
        width: 75%;
    }
    @include mq(md) {
        width: 75%;
    }
    @include mq(xs) {
        margin-top: 14px;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -24px;
        z-index: -1;
        background: $theme-color-2;
        clip-path: url(#w-mask-shape);
        @include transition(0.3s);
        border-radius: 10px;
        overflow: hidden;
    }

    img {
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        clip-path: url(#w-mask-image);

        @include mq(xs) {
            border-radius: 0;
        }
    }

    .clippy {
        position: absolute;
        top: -999px;
        left: -999px;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }
}

.work-card-content {
    max-width: 600px;
    width: 100%;

    @include mq(xs) {
        padding: 20px;
    }

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 28px;
        color: $white;

        @include cmaq(1199px) {
            font-size: 16px;
            line-height: 1.2;
        }
    }

    h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        color: $white;
        margin-bottom: 80px;

        @include mq(xl) {
            margin-bottom: 60px;
        }
        @include mq(lg) {
            font-size: 30px;
            line-height: 1.3;
            margin-bottom: 40px;
        }
        @include mq(md) {
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 20px;
        }
        @include mq(xs) {
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 20px;
        }
    }
}

.card-number {
    position: absolute;
    right: 60px;
    bottom: -30px;

    @include mq(md) {
        right: 20px;
    }
    @include mq(xs) {
        right: 20px;
    }

    h1 {
        font-family: $Outfit;
        font-style: normal;
        font-weight: 600;
        font-size: 120px;
        line-height: 82px;
        color: #FFE175;
        opacity: 0.2;
        margin-bottom: 0;

        @include mq(lg) {
            font-size: 100px;
        }
        @include mq(md) {
            font-size: 90px;
        }
        @include mq(xs) {
            font-size: 80px;
        }
    }
}