@use "../common" as *;

/* 14 Partners Css */

.major-partners {
  .partners-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    h3 {
      font-weight: 500;
      font-size: 36px;
      line-height: 1;
      color: $theme-color-3;
      margin-bottom: 0;

      @include mq(xl) {
        max-width: 220px;
        width: 100%;
        text-align: center;
        font-size: 32px;
      }
      @include mq(lg) {
        max-width: 200px;
        width: 100%;
        text-align: center;
        font-size: 28px;
      }
      @include mq(md) {
        width: 60%;
        text-align: center;
        font-size: 26px;
      }
      @include mq(xs) {
        width: 100%;
        text-align: center;
        font-size: 24px;
      }
    }

    .line-right,
    .line {
      @include mq(xs) {
        width: 60%;
      }

      img {
        width: 100%;
      }
    }

    .line img {
      transform: rotate(180deg);
    }
  }

  .partners-title-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    h3 {
      font-weight: 500;
      font-size: 36px;
      line-height: 1;
      color: $white;
      margin-bottom: 0;

      @include mq(xl) {
        max-width: 220px;
        width: 100%;
        text-align: center;
        font-size: 32px;
      }
      @include mq(lg) {
        max-width: 200px;
        width: 100%;
        text-align: center;
        font-size: 28px;
      }
      @include mq(md) {
        width: 60%;
        text-align: center;
        font-size: 26px;
      }
      @include mq(xs) {
        width: 100%;
        text-align: center;
        font-size: 24px;
      }
    }

    .line-right,
    .line {
      @include mq(xs) {
        width: 60%;
      }

      img {
        width: 100%;
      }
    }

    .line img {
      transform: rotate(180deg);
    }
  }

  &.style-2 {
    margin-bottom: -80px;
  }

  &.style-3 {
    margin-bottom: -200px;
  }
}

.partner-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  max-width: 202px;
  height: 119px;
  width: 100%;
  background-color: $theme-color-3;
  border-radius: 8px;
}

.partner-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 202px;
  height: 119px;
  width: 100%;
  background: #F8F7F0;
  border: 1px solid $theme-color-2;
  border-radius: 8px;
  @include transition(0.3s);

  &:hover {
    border: 1px solid $theme-color-3;
    background-color: $theme-color-3;

    .logo-1{
      visibility: visible;
      opacity: 1;
    }
    .logo-2{
      visibility: hidden;
      opacity: 0;
    }
  }

  .logo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 30px;
    visibility: hidden;
    opacity: 0;
    @include transition(0.3s);
  }
  .logo-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
    @include transition(0.3s);
  }
}

.partner-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  max-width: 202px;
  height: 119px;
  width: 100%;
  border-radius: 8px;
  background: argb(#ffffff, 0.1);

  &:hover {
    background-color: $theme-color-3;
  }
}

.partner-marquee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  .partner-marquee-layout {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-animation: partner-marquee 20s linear infinite;
    animation: partner-marquee 20s linear infinite;

    .partner-1 {
      width: 200px;
      flex: none;
      margin-right: 30px;
    }

    .partner-2 {
      width: 200px;
      flex: none;
      margin-right: 30px;
    }

    .partner-3 {
      width: 200px;
      flex: none;
      margin-right: 30px;
    }
  }
}

@-webkit-keyframes partner-marquee {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes partner-marquee {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
