@use "../common" as *;

/* 18 What we do Css */

.what-we-do-section {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;

    .shape-10 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .shape-11 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.section-top-2 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;

    @include mq(md) {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        margin-bottom: 50px;
    }
    @include mq(xs) {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        margin-bottom: 40px;
    }

    .left {
        max-width: 662px;
        width: 100%;

        .common-subtitle {
            span {
                color: $theme-color-2;
            }
        }

        .common-title {
            margin-bottom: 0;

            h2 {
                color: $light;
                margin-bottom: 0;
            }
        }
    }

    .right {
        max-width: 434px;
        width: 100%;

        p {
            color: $light;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 20px;

            @include mq(xs) {
                margin-bottom: 14px;
            }
        }

        .service-btn {
            gap: 8px;
            padding: 0;
            background: transparent;
            color: $theme-color-2;

            &:before {
                background: transparent;
            }

            &:hover {
                text-decoration: underline;
            }

            .icon-wrap {
                width: auto;
                height: auto;
                color: $theme-color-2;
                background: transparent;

                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

.section-top-3 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;

    @include mq(xs) {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        margin-bottom: 40px;
    }

    .left {
        max-width: 575px;
        width: 100%;

        @include mq(xl) {
            max-width: 500px;
        }

        @include mq(lg) {
            max-width: 500px;
        }

        .common-subtitle {
            margin-bottom: 20px;

            span {
                color: $theme-color-2;
            }
        }

        .common-title {
            margin-bottom: 0;

            h2 {
                color: $light;
                margin-bottom: 0;
            }
        }
    }

    .right {
        max-width: 402px;
        width: 100%;

        @include mq(md) {
            max-width: 300px;
        }

        p {
            color: $light;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        .service-btn {
            gap: 8px;
            padding: 0;
            background: transparent;
            color: $theme-color-2;

            &:before {
                background: transparent;
            }

            &:hover {
                text-decoration: underline;
            }

            .icon-wrap {
                width: auto;
                height: auto;
                color: $theme-color-2;
                background: transparent;

                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

//what-we-do-section-2

.what-we-do-section-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    margin: 80px 85px 0;
    padding: 100px 0 120px 0;
    background-color: $theme-color-3;

    @include cmaq(1700px) {
        margin: 80px 20px 0;
    }

    @include mq(xxl) {
        padding: 100px 40px 120px 40px;
    }
    @include mq(xl) {
        padding: 80px 40px 100px 40px;
    }
    @include mq(lg) {
        padding: 80px 20px 100px 20px;
    }
    @include mq(md) {
        padding: 80px 20px 100px 20px;
    }
    @include mq(xs) {
        padding: 80px 10px 80px 10px;
        margin: 80px 15px 0;
    }

    .shape {
        position: absolute;
        top: 0;
        right: 12%;
        z-index: -1;
    }

    .we-do-card {
        overflow: hidden;
        background-color: $white;
        border-radius: 10px;

        &:hover {
            .card-content {
                i {
                    color: $theme-color-3;

                    span {
                        color: $theme-color-2;
                    }
                }
            }

            .card-thumb {
                img {
                    overflow: hidden;
                    transform: scale(1.1);
                }
            }
        }

        .card-content {
            padding: 30px;

            i {
                color: $theme-color-2;
                font-size: 40px;
                position: relative;
                @include transition(0.3s);

                span {
                    font-size: 14px;
                    color: $theme-color-3;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include transition(0.3s);
                }
            }

            h5 {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: $theme-color-3;
                margin-bottom: 20px;

                @include mq(xl) {
                    font-size: 22px;
                }
                @include mq(xs) {
                    font-size: 20px;
                }
            }
        }

        .card-thumb {
            position: relative;

            img {
                border-radius: 10px;
            }


            .circled-btn {
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                text-align: center;
                color: $body-color;
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F8F7F0;
                border-radius: 100%;
                border: 2px solid $white;
                position: absolute;
                top: 0;
                right: 30px;

                p {
                    margin-bottom: 0;
                    @include transition(0.3s);
                }

                .icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    color: $theme-color-2;
                    font-size: 24px;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(0.3s);
                }

                &:hover {
                    color: $theme-color-2;
                    background-color: $theme-color-3;
                    border: 2px solid $theme-color-2;

                    p {
                        opacity: 0;
                    }

                    .icon {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.whatwedo-slider-active {
    margin-right: -280px;

    @include mq(xxl) {
        margin-right: -75px;
    }

    @include mq(xl) {
        margin-right: 0;
    }
    @include mq(lg) {
        margin-right: 0;
    }
    @include mq(md) {
        margin-right: 0;
    }
    @include mq(xs) {
        margin-right: 0;
    }

    .whatwedo-slider-bottom {
        display: flex;
        align-items: center;
        gap: 80px;
        margin-top: 60px;
        width: 100%;

        @include mq(md) {
            margin-top: 40px;
            gap: 40px;
        }

        @include mq(xs) {
            margin-top: 40px;
            gap: 40px;
        }

        .whatwedo-navigation {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .whatwedo-pagination-wrap {
            width: 100%;
            @include mq(xs) {
                display: none;
            }
        }
    }

    .whatwedo-button-prev,
    .whatwedo-button-next {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2.35px);
        border-radius: 100px;
        cursor: pointer;
        @include transition(0.3s);

        &:hover {
            color: $theme-color-3;
            background: $theme-color-2;
            border-color: $theme-color-2;
        }
    }

    .whatwedo-pagination {
        height: 5px;
        border-radius: 10px;
        background: argb(#fff, 0.5);
        display: flex;
        width: calc(100% - 280px);

        @include mq(xxl) {
            width: calc(100% - 75px);
        }

        @include mq(xl) {
            width: 100%;
        }
        @include mq(lg) {
            width: 100%;
        }
        @include mq(md) {
            width: 100%;
        }
        @include mq(xs) {
            margin-top: 30px;
            width: 100%;
        }

        .swiper-pagination-bullet {
            flex: 1;
            border-radius: 10px;
            height: 100%;
            opacity: 1;
            background: none;
            margin: 0;

            &.swiper-pagination-bullet-active {
                background: $theme-color-2;
            }
        }
    }
}

//what-we-do-section-2